* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-titulo: 'Bebas Neue',
cursive;
$font-sub: 'Indie Flower',
cursive;

$colores:(
    color1: whitesmoke,
    color2: black,
    color3: #FFBEB8 ,
    color4: #b38682,
);

$color1: map-get($colores , color1);
$color2: map-get($colores , color2);
$color3: map-get($colores , color3);
$color4: map-get($colores , color4);



.h2Titulos {
    text-align: center;
    width: 100%;
    color: $color2;
    font-family: $font-titulo;
    font-size: 60px;
    margin-top: 20px;
}

.fondoIndex {

    background-image: url(../imagenes/fondoIdea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-height: 100vh;
}

.container__Main {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    animation: zoomIn;
    animation-duration: 2s;
}

.container__Main--head1 {
    font-size: 13rem;
    text-align: center;
    color: $color1;
    font-family: $font-titulo;
}

.container__Main--head2 {
    font-size: 8rem;
    text-align: center;
    color: $color1;
    font-family: $font-titulo;
}

hr {
    color: $color1;
}

.container__Main--head3 {
    font-size: 4rem;
    text-align: center;
    color: $color1;
    font-family: 'Playfair Display SC', serif;
}

.fondoCocktails {
    background-image: url("../imagenes/fondoIdea2.jpg");
    background-size: cover;
}

.cocktail {
    column-gap: 15px;
    justify-content: center;
}

.cocktail__Img {
    display: block;
    margin: auto;
    margin-top: 30px;
    max-width: 50%;
    max-height: auto;
}

.cocktail__Item {
    text-align: center;
}

.cocktail__Item :hover {
    animation: pulse;
    animation-duration: 2s;
}

.cocktail__Title {
    display: block;
    margin: auto;
    background-color: $color3;
    border: 3px solid $color4;
    max-width: 50%;
    font-family: $font-sub;
}

.fondoInstruc {
    background-image: url("../imagenes/fondoIdea4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.main__Instruc {
    width: 50%;
}

.main__Instruc--h3 {
    color: $color2;
    font-family: $font-sub;
    font-size: 1em;
}

.main__Instruc--li {
    color: $color2;
    font-family: $font-sub;
    font-size: 55px;
    margin-left: 10%;
    list-style-position: outside;

    p {
        color: $color2;
        font-size: 30px;
    }
}

.fondoNosotros {
    background-image: url("../imagenes/fondoIdea2.jpg");
    background-size: cover;
}


.letraBoton {
    font-family: $font-titulo;
    font-size: 3rem;
    color: $color2 !important;
}

.transparenciaAccordion {
    background-color: rgba(245, 245, 245, 0.897) !important;
}

.accordion-body h3 {
    font-size: 2rem;
    font-family: $font-sub;
}

.bgslide {
    background-color: rgba(0, 0, 0, 0.708) !important;
}


.fondoContacto {
    background-image: url("../imagenes/fondoIdea5.jpg");
    background-size: cover;
}

.contacto {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.contacto__div {
    width: 100%;
    margin-top: 50px;
}

.contacto__div--h3 {
    font-family: $font-titulo;
    font-size: 50px;
}

.contacto__div--h4 {
    font-family: $font-titulo;
    font-size: 30px;
}