* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-titulo: 'Bebas Neue',
cursive;
$font-sub: 'Indie Flower',
cursive;

$colores:(
    color1: whitesmoke,
    color2: black,
    color3: #FFBEB8 ,
    color4: #b38682,
);

$color1: map-get($colores , color1);
$color2: map-get($colores , color2);
$color3: map-get($colores , color3);
$color4: map-get($colores , color4);



.h2Titulos {
    text-align: center;
    width: 100%;
    color: $color2;
    font-family: $font-titulo;
    font-size: 60px;
    margin-top: 20px;
}

.fondoIndex {

    background-image: url(../imagenes/fondoIdea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-height: 100vh;
}

.container__Main {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    animation: zoomIn;
    animation-duration: 2s;
}

.container__Main--head1 {
    font-size: 10rem;
    text-align: center;
    color: $color1;
    font-family: $font-titulo;
}

.container__Main--head2 {
    font-size: 8rem;
    text-align: center;
    color: $color1;
    font-family: $font-titulo;
}

hr {
    color: $color1;
}

.container__Main--head3 {
    font-size: 4rem;
    text-align: center;
    color: $color1;
    font-family: 'Playfair Display SC', serif;
}

.fondoCocktails {
    background-image: url("../imagenes/fondoIdea2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cocktail__Item :hover {
    animation: pulse;
    animation-duration: 2s;
}

.cocktail__Title {
    font-family: $font-titulo;
    color: $color2;
}

.fondoInstruc {
    background-image: url("../imagenes/fondoIdea6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}


.fondoNosotros {
    background-image: url("../imagenes/fondoIdea5.jpg");
    background-size: cover;
}


.letraBoton {
    font-family: $font-titulo;
    font-size: 3rem;
    color: $color2 !important;
}


.bgslide {
    background-color: rgba(0, 0, 0, 0.708) !important;
}


.fondoContacto {
    background-image: url("../imagenes/fondoIdea3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.contacto__div {
    width: 100%;
    margin-top: 50px;
}

.contacto__div--h3 {
    font-family: $font-titulo;
    color: $color2;
    font-size: 50px;
}

.contacto__div--h4 {
    font-family: $font-titulo;
    color: $color2;
    font-size: 30px;
}